{% extends '@FrontOffice/Default/Home.html.twig' %}


{% block aside %}
    <aside id="colorlib-hero" class="colorlib-degree-bg">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url({{ asset('template/images/img_bg_5.jpg') }});">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>Nos Evénements</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
{% endblock %}

{% block content %}
    <p style="color: #0b0b0b;">ok bb</p>
{% endblock %}



