{% extends '@FrontOffice/AD-fitness/Produits.html.twig' %}

{% block aside %}
    <aside id="colorlib-hero" class="colorlib-degree-bg" style="margin-bottom: 100px;">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url({{ asset('template/images/img_bg_5.jpg') }});">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>Feeds</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>

{% endblock %}

{% block content %}
    thank you for adding your feed.
{% endblock %}